body {
    font-family: 'Helvetica' !important;
}

.col>img {
    height: 70vh;
}

h1 {
    font-size: 62px !important;
    font-weight: bold !important;
}

.button-1 {
    padding: 1%;
    color: white;
    background-color: #5222D0;
    border: 1px solid #5222D0;
    border-radius: 30px;
}

.button-2 {
    width: 270px;
    height: 84px;
    padding: 1%;
    font-size: 28px;
    color: white;
    background-color: #5222D0;
    border: 1px solid #5222D0;
    border-radius: 30px;
}

.button-2>img {
    width: 40px;
}

.links a {
    margin-right: 5%;
}

.card-form {
    background: #EC615B;
    background-size: contain;
}

.button-3 {
    width: 135px;
    height: 38px;
    margin-top: 5%;
    padding: 2%;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #5222D0;
    border: 1px solid #5222D0;
    border-radius: 30px;
}